<mat-card class = "mat-card-minhas-bics">
    <mat-card-header>
        <mat-card-title>Minhas Contas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="tabela-boletos">
            <tbody>
                <tr>
                    <th>Conta</th>
                    <th>Vencimento</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
                <tr *ngFor = "let conta of listaContas">
                    <td>{{conta.nome}}</td>
                    <td>{{conta.vencimento}}</td>
                    <td>{{conta.valor}}</td>
                    <td>
                        <button class = "button-minhas-bics" *ngIf = "conta.isContaPaga"
                            mat-button 
                            mat-raised-button
                            (click) = "onContaPaga(conta)">Pagar Conta</button>
                        <p *ngIf = "!conta.isContaPaga">Ta pago</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
